{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}


  <div class="container">
    <h1>Subscribe to my email</h1>
    <br/><br/>
    <form action="/form" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name" name = "first_name">

  </div>
      <br>
  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last name" name = "last_name">

  </div>
      <br>
      <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address", name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <br>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
  </div>

{% endblock %}